.settingsWrapper {
    margin: 20px;
}

.settingsTitleUpdate {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingsTitleDelete {
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsForm {
    display: flex;
    flex-direction: column;
}

.settingsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingsPP>img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
}

.settingsForm>label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsPPInput {
    width: 30%;
}

.settingsForm>input {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.settingsSubmitButton {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 12px;
    border: none;
    padding: 10px;
    color: white;
    background-color: teal;
    cursor: pointer;
    margin-top: 10px;
}